.container
  %h2
    = @board.title
  - @tasks.each do |task|
    = render "commons/task", task: task

  = link_to new_board_task_path(@board.id) do
    .card-add
      .card-add_content
      %span.plus-icon +
      %span.add-text Add new card
