@import "variables";

.btn-primary {
  background-color: #f8bd1c;
  border: none;
  text-align: center;
  color: white;
  padding: 8px 14px;
  font-weight: bold;
  border-radius: 4px;
  font-size: 18px;
  font-family: Avenir;
  position: fixed;
  bottom: 35px;
  right: 26px;
  left: 26px;
}
