@import "variables";

$avatar-size: 40px;
$back-icon-size: 16px;
$header-font-size: 18px;

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);

  &_loginBtn {
    background-color: $base-bg-color;
    height: $avatar-size;
    border-radius: 8px;
    font-size: $header-font-size;
    padding: 11px 16px;
    display: flex;
    align-items: center;
    border: 1px solid #e0e0e0;
  }

  &_logos {
    min-width: 0;
    display: flex;

    img {
      width: $back-icon-size;
      height: $back-icon-size;
      margin: 10px 10px 0;
    }
  }

  &_pageTitle {
    line-height: $avatar-size;
    font-size: $header-font-size;
  }

  &_avatar {
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 100%;
    display: flex;
    align-items: center;
  }

  // ヘッダー専用ドロップダウン
  .dropdown-content {
    min-width: 80px;
    right: 0;
    top: 100%;
  }
}
